body {
    background-color: steelblue;
    font-size: 2em;
    color: white;
    margin: auto;
    text-align: center;
}

.gifButton {
    background-color: grey;
    color: white;
    border: 1px solid white;
    font-size: 0.5em;
    height: 100%;
    margin: 0 0.5%;
}

#gifContainer {

}

.gif {
    border: 2px solid white;
    margin-top: 4%;
}

.ratings {
    margin: 0 auto;
    font-size: 0.75em;
}